body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

.container {
  margin: 1rem;
  padding: 2rem;
}

.controls {
  margin: 1rem;
}

.controls button {
  padding: 10px 20px;
  margin: 0.3rem;
  background-color: #333;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.controls button:hover {
  background-color: #666666;
}

.sound {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

audio {
  outline: none;
  transition: transform 0.2s;
}

audio:hover {
  transform: scale(1.05);
}

audio:active {
  transform: scale(0.95);
}

section {
  display: flex;
}

.sound-container {
  display: flex;
  width: 60vw;
  flex-wrap: wrap;
  margin: 1rem;
}

.tracks {
  margin-top: 20px;
  padding: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #ececec;
}

.trackCheckbox {
  margin-right: 10px;
  cursor: pointer;
}

.trackCheckbox:checked + span {
  font-weight: bold;
  color: #4caf50;
}

@media screen and (max-width: 680px) {
  section {
    flex-direction: column;
    align-items: center;
  }
}

.metronome {
  padding: 10px 20px;
  margin: 0.3rem;
  border: none;
  border-radius: 5px;
}

#bpm {
  width: 50px;
}
